#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center;
    color: #2c3e50;
    margin-top: 60px; */
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    text-decoration: none;
  }
  /* Custom
   * --------------------------------------- */
  body {
    font-family: arial, helvetica;
  }
  .section {
    position: relative;
    text-align: center;
    padding-left: 1.4rem;
    padding-right: 2rem;
    /* padding-bottom: 40px; */
  }

  #logo {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    font-weight: bold;
    z-index: 99;
    font-size: 1.9em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
  }
  h2 {
    margin-top: 1em;
  }
  h3, h4 {
    margin-top: 0.5em;
    line-height: normal;
  }
  
  /* Menu
   * --------------------------------------- */
  
  #menu {
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 70;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    letter-spacing: 1px;
    font-size: 1.1em;
  }
  #menu li {
    display: inline-block;
    margin: 10px 0px;
    position: relative;
  }

  #menu li.active a:after {
    content: "";
    margin: 0 1.1em 0 1.1em;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: block;
  }
  
  .fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 15%;
    cursor: pointer;
    width: 0;
    height: 0;
    /* margin-top: -26px !important; */
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    filter: drop-shadow(4px 3px 1px rgba(33, 33, 33, 0.36));
  }
  
  .fp-controlArrow.fp-next {
    width: 0 !important;
    height: 0 !important;
    right: 5px !important;
    border-width: 25px 0 25px 22px !important;
    border-color: transparent transparent transparent #e3e3e3 !important;
    border-style: solid;
  }
  
  .fp-controlArrow.fp-prev {
    width: 0 !important;
    height: 0 !important;
    left: 5px !important;
    border-width: 25px 22px 25px 0 !important;
    border-color: transparent #e3e3e3 transparent transparent !important;
    border-style: solid;
  }

  .headerImgSubSite {
    opacity: 0.2;
  }
  .quoteBoxContainer {
    margin-right: 0;
    position:absolute;
    
    bottom:0;
    right:0;
  }
  .quoteBox {
    /* background-color: #d3d3d3; */
    background: rgba(221, 221, 221, 0.8);
    padding: 10px;
    /* color: white; */
    /* font-weight: bold; */
  }
  